<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable= no, maximum-scale=1.0">
        <title>Home Page</title>
        <link rel="stylesheet" type="text/css" href="/home.css">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap" rel="stylesheet">
    </head>
    <body>
        <section class="navbar">
            <nav>
                <div class="navigation">
                   <ul class="nav-list">
                       <li class="nav-item"><img src="../images/logo.png"></a></li>
                       <li class="nav-item"><a href="#">Home</a></li>
                       <li class="nav-item"><a href="#about">About</a></li>
                       <li class="nav-item"><a href="#">Contact us</a></li>
                       <li class="nav-item"><button>Book Appointment</button></li>
                   </ul>
                </div>
            </nav>
        </section>
        <section class="body">
            <section class="main">
                <div class="mainsection">
                    <div class="mainhead">
                        <div class="content">
                            <div class="side">___COMFORTABLE CARE</div>
                            <div class="header">Caring For You <br> And Your Family.</div>
                            <p>Passionate about Medicine, Compasionate <br> About People, We are here for You.</p>
                            <div class="btn">
                                <button class="btnp">Appointment</button>
                                <button class="btns">Contact Us</button>
                            </div>
                        </div>
                        
                    </div>
                    <div class="mainimage">
                        <img src="./images/main.svg">
                    </div>
                </div>
            </section>
            <section>
                <div class="flexbox">
                    <div class="infox1">
                        <div class="info1 info">
                            <div class="image"><img src="./images/heart.svg"></div>
                            <div>
                                <div class="head">The Power To Heal.</div>
                                <p>The Art of medicine consists of amusing <br> the Patient while nature cures the disease.</p>
                            </div>
                        </div>
                    </div>
                    <div class="infox1">
                        <div class="info2 info">
                            <div class="image"><img src="./images/family.svg"></div>
                            <div>
                                <div class="head">You deserve Health.</div>
                                <p>Medical breakthrough can happen by <br> regular meditation and Excercise.</p>
                            </div>
                        </div>
                    </div>
                    <div class="infox1">
                        <div class="info3 info">
                            <div class="image"><img src="./images/forgiveness.svg"></div>
                            <div>
                                <div class="head">Healing Presence.</div>
                                <p>People with good Health are Rich than <br> Wealthy and Unhealthy People.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section  class="about" id="about">
                <div class="mainhead1">
                    <div class="header1">WHO WE ARE.</div>
                    <div class="header1c">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</div>
                </div>
                <div class="inventor">
                    <div class="sect1 sect">
                        <div class="image"><img src="./images/doc.jpg"></div>
                    </div>
                    <div class="sect2 sect">
                        <div class="content">
                            <div class="dname">Dr. SINI BIJU</div>
                            <div class="dpractice">Psycatrist</div>
                            <div class="ddescp">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
                        </div>
                    </div>
                    <div class="containergap"></div>
                    <div class="sect3 sect">
                        <div class="content">
                            <div class="dname">Dr. BIJU POULOSE</div>
                            <div class="dpractice">Cardiologist</div>
                            <div class="ddescp">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
                        </div>
                    </div>
                    <div class="sect4 sect">
                        <div class="image"><img src="./images/doc.jpg"></div>
                    </div>
                </div>
        
            </section>
        
        </section>
    </body>
</html>